.players {
    margin: 0 auto;
    padding-top: 1px;
    background-color: white;
    align-items: center;
    padding-bottom: 140px;
}

.header__container_players {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 345px;
    margin-right: 296px;
}

.header__players {
    color: rgb(49, 49, 49);
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.switch__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 44px;
    height: 44px;
    background: rgb(49, 49, 49);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}

.arrow:hover {
  background: rgba(49, 49, 49, 0.2);
}

.players__count {
    margin-left: 16px;
    margin-right: 16px;
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0px;
}

.players__count:nth-child(2) {
    margin-right: 3px;
}

.players__count:nth-child(3) {
    margin-left: 0px;
    opacity: .6;
}

.players__count_hide {
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0px;
    opacity: 0.6;
}

.players_container_all {
    display: flex;
    flex-direction: row;
    margin-left: 287px;
    margin-top: 30px;
}

.player__container {
    margin: 0;
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name__player {
    margin: 0;
    margin-top: 30px;
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
}

.description__player {
    margin: 0;
    margin-top:  6px;
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0px;
    opacity: .6;
}

.moreInfo {
    margin: 0;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(48, 87, 162);
    border-radius: 62px;
    background-color: transparent;
    width: 113px;
    height: 35px;
    color: rgb(48, 87, 162);
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
}

.hide-slide {
    display: none;
  }

  .header__players375 {
    display: none;
  }
  .player__container375 {
    display: none;
  }
  .switch__container375 {
    display: none;
  }

  @media screen and (max-width: 1680px) {
    .header__container_players {
        margin-left: 200px;
    }

    .players_container_all {
        margin-left: 150px;
    }
  }

  @media screen and (max-width: 1390px) {
    .header__container_players {
        margin-left: 72px;
    }

    .switch__container {
        margin-right: -225px;
    }

    .players_container_all {
        margin-top: 23px;
        margin-left: 15px;
    }
  }

  @media screen and (max-width: 1280px) {
    .players_container_all {
        display: grid;
        grid-template-columns: repeat(2, 394px);
        justify-content: center;
        margin-left: -15px;
    }

}

@media screen and (max-width: 970px) {
    .header__players {
        display: none;
      }
      .player__container {
        display: none;
      }
      .switch__container {
        display: none;
      }

      .players_container_all375 {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
      }

    .header__players375 {
        margin-left: 13px;
        display: inline-block;
        color: rgb(49, 49, 49);
font-family: Merriweather;
font-size: 36px;
font-weight: 400;
line-height: 110%;
letter-spacing: 0px;
text-align: left;
text-transform: uppercase;
margin-bottom: 20px;
      }

      .name__player {
        margin-top: 25px;
        margin-left: -20px;
      }

      .description__player {
        margin-left: -18px;
      }

      .moreInfo {
        margin-left: 65px;
      }

      .player__container375 {
        display: inline-block;
      }
      .switch__container375 {
        display: flex;
        margin-top: 35px;
        margin-left:59px;
        align-items: center;
      }

      .arrow {
        width: 36px;
height: 36px;
      }

      .players__count375 {
        font-size: 16px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0px;
margin-left: 12px;
margin-right: 15px;
      }

      .players__count375:nth-child(3) {
        margin-left: 0px;
      }

      .players__count375:nth-child(2) {
        margin-right: 0px;
      }

      .hide-slide375 {
        display: none;
      }

      .player__photo {
        width: 244px;
height: 244px;
margin-top: 20px;
      }
}

